# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Test coverage
coverage/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# File
uploads/
